h1{
    display: flex;
    justify-content: center;
}

body{
    background: #FAF9F1;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

header{
    z-index: 10;
    display: flex;
    width: 100%;
    height: 8%;
    margin: 0;
    min-height: 40px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: #8E4611;
    position: fixed;
    
    
}

nav{
    display: flex;
    width: 60%;
    padding-right: 2%;
    right: 30px;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 100%;
}

nav a {
    padding-bottom: 1%;
    color: #FAF9F1;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-top: 3px;
    margin-left: 5%;
}

#active{
    color: #C9F909;
}


/* credit for the animation: Kiran Raj R https://dev.to/kiranrajvjd/10-simple-navigation-bar-hover-animations-1980*/
nav a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 1px;
}

nav a:hover::after {
    width: 100%;
    height: 1px;
    background-color:#FFF;
}




header img{
  position: relative;
  height: 98%;
  flex-shrink: 0;
  padding-left: 3%;
  
}

section{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 3%;
    max-width: 95%;
    min-width: 30%;
    top: 70px;
    justify-content: center;
    margin-bottom: 50px;
}

footer{
    display: flex;
    align-items: flex-end;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}


.text{
    border: 1px solid #a9b1b8;
    border-radius: 0.5rem;
    background: var(--Surface-Light, #F8FAFC);
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
}

form label{
    color: var(--Text-Secondary---Grey2, #595D69);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01rem;
}

form fieldset{
    width: 90%;
    padding-right: 5%;
}

form fieldset input{
    margin: 2%;
    cursor: pointer;
}

form fieldset label{
    position: relative;
    
    top: -2px;
    cursor: pointer;
    color: var(--Text-Primary---Basic, #3B4256);
    line-height: 140%;
    padding-left: 10%;
}

#envoyer{
    width: 30%;
    color: #FAF9F1;
    border-radius: 0.5rem;
    background: #D21D2A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 1rem;
    min-width: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    transition: all 0.3s ease-in-out;
}
  
#envoyer:hover {
    transform: scale(1.2);
}


#effacer{
    border-radius: 0.5rem;
    border: 1px solid #D1323D;
    background: var(--W-Background, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    width: 4.6875rem;
    padding: 1rem;
    margin-inline: auto;
}