h1{
    display: flex;
    justify-content: center;
}

body{
    background: #FAF9F1;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

header{
    z-index: 10;
    display: flex;
    width: 100%;
    height: 8%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: #8E4611;
    position: fixed;
    
    
}

nav{
    display: flex;
    width: 60%;
    background: #8E4611;
    padding-right: 2%;
    right: 30px;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 100%;
}

nav a {
    padding: 1%;
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

#active{
    color: #123455;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FC0000;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
    
}
  
nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header img{
  position: relative;
  height: 98%;
  flex-shrink: 0;
  padding-left: 3%;
  
}

section{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 3%;
    max-width: 90%;
    top: 70px;
    justify-content: center;
}

footer{
    display: flex;
    align-items: flex-end;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.text{
    border: 1px solid #a9b1b8;
    border-radius: 0.5rem;
    background: var(--Surface-Light, #F8FAFC);
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
}

form label{

    color: var(--Text-Secondary---Grey2, #6F7482);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01rem;
}

form fieldset label{
    color: var(--Text-Primary---Basic, #3B4256);
    line-height: 140%;
}

#envoyer{
    width: 25%;
    border-radius: 0.5rem;
    background: #D1323D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}


#effacer{
    width: 15%;
    border-radius: 0.5rem;
    border: 1px solid #D1323D;
    background: var(--W-Background, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    width: 4.6875rem;
    padding: 1rem;
    margin-inline: auto;
}