h1{
    display: flex;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #FAF9F1;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

header{
    z-index: 10;
    display: flex;
    width: 100%;
    height: 8%;
    margin: 0;
    min-height: 40px;
    max-height: 120px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    background: #8E4611;
    position: fixed;
    
    
}

nav{
    display: flex;
    min-width: 50%;
    padding-right: 2%;
    right: 30px;    
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 100%;
}

nav a {
    padding-bottom: 1%;
    color: #FAF9F1;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin: 2.5px;
    margin-left: 10px;
}

@media (max-width : 435px) and ( min-width : 327px )     {
    nav{
        flex-basis: 60%;
    }
}

#active{
    color: #C9F909;
}


/* credit for the animation: Kiran Raj R https://dev.to/kiranrajvjd/10-simple-navigation-bar-hover-animations-1980*/
nav a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 1px;
}

nav a:hover::after {
    width: 100%;
    height: 1px;
    background-color:#FFF;
}




header img{
  position: relative;
  max-height: 98%;
  flex-shrink: 0;
  padding-left: 3%;
  
}

section{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 3%;
    max-width: 95%;
    min-width: 30%;
    top: 50px;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    bottom: 50px;
}

footer{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    min-height: 110px;
    width: 80%;
    background: #8E4611;
    padding: 0px 10% 0px 10%;
}

footer p{
    width: 40%;
    min-width: 200px;
    max-width: 300px;
    color: #D6CFCC;
}

footer #amu{
    display: flex;
    margin: 5px 10px 5px 10px ;
    border-radius: 50%;
}

footer #cc{
    display: flex;
    margin: 5px 10px 5px 10px ;
}

footer img{
    margin: 5px 5px 5px 5px;
}

#ancre{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin: 10px 10px 10px 88%;
    padding: 10px 10px 10px 10px;
    bottom: 30px;
    width: 20px;
    height: 20px;
    background-color: #8E4611;
    color: #F8FAFC;
    border-radius: 10px;
    text-decoration: none;
}


iframe{
    border: 0px;
    max-width: 95%;
}


/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
* {
  scrollbar-width: thin;
  scrollbar-color: #8E4611 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 12px;
    width: 13px;
  }

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #FAF9F1;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #8E4611;
    border: 1px solid #FAF9F1;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #AE5615;
}

*::-webkit-scrollbar-thumb:active {
background-color: #AE5615;
}


/* text KFC or Kebab Fries Checkien animation*/
@import url("https://fonts.googleapis.com/css?family-Amethysta&display-swap");
svg {
    font-family: "Amethysta", sans-serif;
    fill :#8e4511e1;
    width: 100%; height: 100%;
    margin:1%;
}
svg text {
    animation: 15s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 
	0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%) 0s 10 alternate-reverse stroke;
    stroke-width: 2;
    stroke: #904711;
    font-size: 300%;
    
}

svg #name_desktop{
    display: none;
}

@keyframes stroke {
    0%{
        fill: rgba(142,70,17,0);
        stroke: rgba(144,71,17,1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 8 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(142,78,17,0);
        stroke: rgba(144,71,17,1);
    }
    88% {
        fill: rgba(142,78,17,0);
        stroke: rgba(144,71,17,1);
        stroke-width: 3;
    }

    100% {
    fill: rgba(142,76,17,1);
    stroke: rgba(144, 72, 17, 0.829);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0; 
    stroke-width: 0;
    }
}

/*for the KFC title*/
@media (min-width : 800px) {
    svg #name_desktop{
        display: inline;
    }

    svg #name_mobile{
        display: none;
    }

    svg{
        width: 955px;
    }

    h1{
        width: 100%;
    }
}