h1{

}

header {
    text-align: center;
  }
  
  #head {
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
  }



























nav{
    display: flex;
    width: 412px;
    height: 71px;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
}
