h1{
    display: flex;
    justify-content: center;
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #7B7B7B;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

header{
    z-index: 10;
    display: flex;
    width: 100%;
    height: 15%;
    margin: 0;
    min-height: 100px;
    max-height: 130px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    background: #000;
    position: fixed;
    
    
}

nav{
    display: flex;
    flex-direction: column;
    min-width: 110px;
    padding-right: 2%;
    right: 30px;    
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 100%;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    margin: 4px 2px 4px 2px;
    width:fit-content;
    color: #FC0000;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

@media (max-width : 435px) and ( min-width : 327px )     {
    nav{
        flex-basis: 60%;
    }
}

#active{
    color: #C9F909;
}


/* credit for the animation: Kiran Raj R https://dev.to/kiranrajvjd/10-simple-navigation-bar-hover-animations-1980*/
nav a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 1px;
}

nav a:hover::after {
    width: 100%;
    height: 1px;
    background-color:#FC0000;
}




header img{
  position: relative;
  max-height: 98%;
  flex-shrink: 0;
  margin-left: 3%;
  margin-right: 10px;
  background-color: #8F8F8E;
  border-radius: 10px;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-top: 3%;
    max-width: 95%;
    min-width: 30%;
    top: 100px;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    bottom: 50px;
}


article {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    max-width: 100%;
    gap: 10px;
    flex-shrink: 0;
    margin: 15px 5px 15px 5px;
}

article img, video {
    flex-shrink: 1;
    border-radius: 37px;
    /*background: url(<path-to-image>) lightgray 50% / cover no-repeat;*/
}

h2{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 20px;
    font-size: 130%;
}

article p {
    max-width: 250px;
    max-height: 113px;
    flex-shrink: 0;
    margin: 2px 2px 2px 2px;
}

a{
    text-decoration-line: none;
    color: #a40000;
    text-decoration: solid;
    stroke: #000;
}



footer{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    min-height: 110px;
    width: 80%;
    background: #000;
    padding: 0px 10% 0px 10%;
}

footer p{
    width: 40%;
    min-width: 200px;
    max-width: 300px;
    color: #D6CFCC;
}

footer #amu{
    display: flex;
    margin: 5px 10px 5px 10px ;
    border-radius: 50%;
}

footer #cc{
    display: flex;
    margin: 5px 10px 5px 10px ;
}

footer img{
    margin: 5px 5px 5px 5px;
}

#ancre{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin: 10px 10px 10px 88%;
    padding: 10px 10px 10px 10px;
    bottom: 30px;
    width: 20px;
    height: 20px;
    background-color: #000000;
    color: #FC0000;
    border-radius: 10px;
    text-decoration: none;
}




/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
*{
    scrollbar-width: thin;
    scrollbar-color: #FC0000 #000000;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 12px;
    width: 13px;
  }

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #FAF9F1;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #8E4611;
    border: 1px solid #FAF9F1;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #AE5615;
}

*::-webkit-scrollbar-thumb:active {
background-color: #AE5615;
}