h1{
    display: flex;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #7B7B7B;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

header{
    z-index: 10;
    display: flex;
    width: 100%;
    height: 15%;
    margin: 0;
    min-height: 100px;
    max-height: 150px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    background: #000;;
    position: fixed;
    
    
}

nav{
    display: flex;
    flex-direction: column;
    min-width: 110px;
    padding-right: 2%;
    right: 30px;    
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 100%;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    margin: 4px 2px 4px 2px;
    width:fit-content;
    color: #FC0000;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

@media (max-width : 435px) and ( min-width : 327px )     {
    nav{
        flex-basis: 60%;
    }
}

#active{
    color: #C9F909;
}


/* credit for the animation: Kiran Raj R https://dev.to/kiranrajvjd/10-simple-navigation-bar-hover-animations-1980*/
nav a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 1px;
}

nav a:hover::after {
    width: 100%;
    height: 1px;
    background-color:#FC0000;
}




header img{
  position: relative;
  max-height: 98%;
  flex-shrink: 0;
  margin-left: 3%;
  margin-right: 10px;
  background-color: #8F8F8E;
  border-radius: 10px;
}

section{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 3%;
    max-width: 95%;
    min-width: 30%;
    top: 75px;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    bottom: 50px;
}

footer{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    min-height: 110px;
    width: 80%;
    background: #000;
    padding: 0px 10% 0px 10%;
}

footer p{
    width: 40%;
    min-width: 200px;
    max-width: 300px;
    color: #FFF;
}

footer #amu{
    display: flex;
    margin: 5px 10px 5px 10px ;
    border-radius: 50%;
}

footer #cc{
    display: flex;
    margin: 5px 10px 5px 10px ;
}

footer img{
    margin: 5px 5px 5px 5px;
}

#ancre{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin: 10px 10px 10px 88%;
    padding: 10px 10px 10px 10px;
    bottom: 30px;
    width: 20px;
    height: 20px;
    background-color: #000000;
    color: #FC0000;
    border-radius: 10px;
    text-decoration: none;
}


/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
* {
  scrollbar-width: thin;
  scrollbar-color: #FC0000 #000000;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 12px;
    width: 13px;
  }

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #FAF9F1;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #8E4611;
    border: 1px solid #FAF9F1;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #AE5615;
}

*::-webkit-scrollbar-thumb:active {
background-color: #AE5615;
}


/* text KFC or Kebab Fries Checkien animation*/
svg {
    font-family: sans-serif;
    fill :#FC0000;
    width: 100%; height: 100%;
    margin:1%;
}
svg text {
    animation: 15s ease-out 0s 10 alternate-reverse stroke;
    stroke-width: 2;
    stroke: #FC0000;
    font-size: 300%;
    
}

svg #name_desktop{
    display: none;
}

@keyframes stroke {
    0%{
        fill: rgba(142,70,17,0);
        stroke: rgb(255, 0, 0);
        stroke-dashoffset: 25%;
        stroke-dasharray: 8 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(142,78,17,0);
        stroke: rgb(144, 17, 17);
    }
    88% {
        fill: rgba(142,78,17,0);
        stroke: rgb(144, 45, 17);
        stroke-width: 3;
    }

    100% {
    fill: rgba(142,76,17,1);
    stroke: rgba(144, 72, 17, 0.829);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0; 
    stroke-width: 0;
    }
}

/*for the KFC title*/
@media (min-width : 800px) {
    svg #name_desktop{
        display: inline;
    }

    svg #name_mobile{
        display: none;
    }

    svg{
        width: 955px;
    }

    h1{
        width: 100%;
    }
}